.board-game {
    display: grid;
    grid-template-rows: calc(var(--cell-size) * .4) repeat(27, var(--cell-size)) calc(var(--cell-size) * .4);
    grid-template-columns: calc(var(--cell-size) * .4) repeat(26, var(--cell-size)) calc(var(--cell-size) * .4);
    background-color: var(--background-color);
    padding: 10px;
    position: relative;
  }
  
  /* Celdas base */
  [class^="row"][class*="-col"] {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    isolation: isolate;
  }
  
  /* Ghost House */
  .ghost-house {
    z-index: 1;
    box-sizing: border-box;
    position: relative;
    width: 95%;
    height: 95%;
  }
  
  :is(
    .ghost-house-top-left,
    .ghost-house-top-right,
    .ghost-house-left,
    .ghost-house-right) {
    border-top: 6px double var(--wall-color);
  
  }
  
  :is(
    .ghost-house-bottom,
    .ghost-house-left,
    .ghost-house-right) {
    border-bottom: 6px double var(--wall-color);
  }
  
  .ghost-house-left {
    border-left: 6px double var(--wall-color);
  }
  
  .ghost-house-right {
    border-right: 6px double var(--wall-color);
  }
  
  .ghost-house-door {
    border-top: 6px solid #f7c4c4;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
  
  
  
  /* Paredes */
  :is(
    .wall, 
    .wall-top, 
    .wall-bottom, 
    .wall-left, 
    .wall-right, 
    .wall-corner-top-left, 
    .wall-corner-top-right, 
    .wall-corner-bottom-left, 
    .wall-corner-bottom-right,
    .row17-col0,
    .row17-col27,
    .row9-col0,
    .row9-col27) {
    background-color: var(--background-color);
    z-index: 1;
    box-sizing: border-box;
    position: relative;
  }
  .wall {
    border: 1px solid var(--wall-color);
  
  }
  
  .wall-top {
    border-top: 8px double var(--wall-color);
  
  }
  
  .wall-bottom {
    border-bottom: 8px double var(--wall-color);
  }
  
  .wall-left {
    border-left: 8px double var(--wall-color);
  }
  
  .wall-right {
    border-right: 8px double var(--wall-color);
  }
  
  :is(.wall-corner-top-left, .row17-col0) {
    border-top: 8px double var(--wall-color);
    border-left: 8px double var(--wall-color);
    border-top-left-radius: 10px;
  }
  
  :is(.wall-corner-top-right, .row17-col27) {
    border-top: 8px double var(--wall-color);
    border-right: 8px double var(--wall-color);
    border-top-right-radius: 10px;
  }
  
  :is(.wall-corner-bottom-left, .row9-col0) {
    border-bottom: 8px double var(--wall-color);
    border-left: 8px double var(--wall-color);
    border-bottom-left-radius: 10px;
  }
  
  :is(.wall-corner-bottom-right, .row9-col27) {
    border-bottom: 8px double var(--wall-color);
    border-right: 8px double var(--wall-color);
    border-bottom-right-radius: 10px;
  }
  
  :is(.row9-col27, .row9-col0) {
    position: absolute;
    top: -12px;
  }
  
  :is(.row17-col0, .row17-col27) {
    position: absolute;
    top: 17px;
  }
  
  .wall-left.tunnel,
  .wall-right.tunnel {
    border: none;
    background-color: var(--background-color);
  }
  
  /* Puntos */
  .point {
    width: 4px;
    height: 4px;
    background-color: var(--point-color);
    border-radius: 50%;
  }
  
  /* Power Pellets */
  .power-pellet {
    width: 12px;
    height: 12px;
    background-color: var(--point-color);
    border-radius: 50%;
    animation: blink 0.4s ease-in-out infinite alternate;
  }
  
  @keyframes blink {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(0.8);
    }
  }
  
  /* Túneles */
  .tunnel {
    background-color: var(--background-color);
  }
  
  /* Internal Walls */
  :is(.internal-wall,
    .internal-wall-1,
    .internal-wall-2,
    .internal-wall-3,
    .internal-wall-4,
    .internal-wall-5,
    .internal-wall-6,
    .internal-wall-7,
    .internal-wall-H-XL,
    .internal-wall-H-XL-1,
    .internal-wall-H-XL-2,
    .internal-wall-H-XL-3,
    .internal-wall-H-XL-4,
    .internal-wall-vertical,
    .internal-wall-vertical-1,
    .internal-wall-vertical-2,
    .internal-wall-vertical-3,
    .internal-wall-vertical-insercion,
    .internal-wall-vertical-insercion-1,
    .internal-wall-vertical-insercion-2,
    .internal-wall-vertical-insercion-3,
    .internal-wall-vertical-insercion-4,
    .internal-wall-vertical-insercion-5,
    .internal-wall-vertical-insercion-bottom,
    .internal-wall-vertical-insercion-bottom-1,
    .internal-wall-horizontal-insercion-left,
    .internal-wall-horizontal-insercion-right,
    .internal-wall-horizontal-insercion-left-1,
    .internal-wall-horizontal-insercion-right-1,
    .internal-wall-l-insercion,
    .internal-wall-l-insercion-1) {
    background-color: var(--background-color);
    border: 3px solid var(--wall-color);
    border-radius: 10px;
  
  }
  
  :is(.internal-wall,
    .internal-wall-1,
    .internal-wall-2,
    .internal-wall-3,
    .internal-wall-4,
    .internal-wall-5) {
    width: 95% !important;
    height: 94% !important;
    margin-top: 3px;
    margin-left: 4px;
  }
  
  :is(.internal-wall-vertical,
    .internal-wall-vertical-1,
    .internal-wall-vertical-2,
    .internal-wall-vertical-3) {
    width: 90% !important;
    height: 98% !important;
    margin: 3px 3px 0px;
  }
  
  :is(.internal-wall-H-XL,
    .internal-wall-H-XL-1,
    .internal-wall-H-XL-2,
    .internal-wall-H-XL-3,
    .internal-wall-H-XL-4,
    .internal-wall-6,
    .internal-wall-7) {
    width: 98% !important;
    height: 93% !important;
    margin-top: 3px;
    margin-left: 3px;
  }
  
  :is(.internal-wall-central-top,
    .internal-wall-central-top-1,
    .internal-wall-central-bottom,
    .internal-wall-central-bottom-1) {
    background-color: var(--background-color);
    border: 8px double var(--wall-color);
    border-radius: 10px;
    width: 97% !important;
    height: 95% !important;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  :is(.internal-wall-central-top,
    .internal-wall-central-bottom) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
  }
  
  :is(.internal-wall-central-top-1,
    .internal-wall-central-bottom-1) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
    margin-left: 4px;
  }
  
  
  :is(.internal-wall-vertical-insercion,
    .internal-wall-vertical-insercion-1,
    .internal-wall-vertical-insercion-2,
    .internal-wall-vertical-insercion-3,
    .internal-wall-vertical-insercion-4,
    .internal-wall-vertical-insercion-5) {
    width: 91% !important;
    height: 104% !important;
    border-top: none;
    margin-left: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  :is(.internal-wall-vertical-insercion-bottom,
    .internal-wall-vertical-insercion-bottom-1) {
    width: 91% !important;
    height: 104% !important;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 3px;
    margin-top: 3px;
    background-color: var(--background-color);
    z-index: 2;
  }
  
  :is(.internal-wall-vertical-insercion,
    .internal-wall-vertical-insercion-4,
    .internal-wall-vertical-insercion-5) {
    margin-top: -4.5px;
  
  }
  
  :is(.internal-wall-vertical-insercion-1,
    .internal-wall-vertical-insercion-2,
    .internal-wall-vertical-insercion-3) {
    margin-top: -3.5px;
  }
  
  
  :is(.internal-wall-horizontal-insercion-left,
    .internal-wall-horizontal-insercion-right,
    .internal-wall-horizontal-insercion-left-1,
    .internal-wall-horizontal-insercion-right-1) {
    width: 103% !important;
    height: 91% !important;
    margin-top: 3.2px;
    background-color: var(--background-color);
    z-index: 2;
  }
  
  :is(.internal-wall-horizontal-insercion-left,
    .internal-wall-horizontal-insercion-left-1) {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
  }
  
  :is(.internal-wall-horizontal-insercion-left) {
    margin-left: -4.8px;
  
  }
  
  :is(.internal-wall-horizontal-insercion-left-1) {
    margin-left: -4.3px;
  
  }
  
  :is(.internal-wall-horizontal-insercion-right,
    .internal-wall-horizontal-insercion-right-1) {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-right: none;
  
  }
  
  :is(.internal-wall-horizontal-insercion-right) {
    margin-left: 3.5px;
  }
  
  :is(.internal-wall-horizontal-insercion-right-1) {
    margin-left: 3px;
  }
  
  
  :is(.internal-wall-l-insercion,
    .internal-wall-l-insercion-1) {
    width: 95.5% !important;
    height: 91% !important;
    margin-top: 3.2px;
    margin-left: 3px;
  }
  
  :is(.internal-wall-l-insercion) {
    border-bottom-right-radius: 0px;
  
  }
  
  :is(.internal-wall-l-insercion-1) {
    border-bottom-left-radius: 0px;
  }
  