@import './pacmanGame/styles/board.css';
@import './pacmanGame/styles/pacman.css';

:root {
  --wall-color: #2121ff;
  --point-color: #ffd9a0;
  --cell-size: 25px;
  --background-color: #151515;
  --side: 20px;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.row:nth-child(1) {
  order: 2;
}

.row:nth-child(2) {
  order: 1;
  flex-direction: column;
  margin: 30px 0;
}

:is(.score-container, .level-container) {
  transform: translate(-20%);
}

.score-container {
  color: white;
  font-size: 24px;
  font-family: Arial, sans-serif;
  
}

.level-container {
  color: white;
  font-size: 20px;
}
